.slot--counter {
  display: inline-block;
  font: 400 16px/22px Muli,sans-serif;
  padding-bottom: 15px;
  padding-top: 10px; }

.slot.additional-controls {
  float: right;
  white-space: nowrap; }
  .slot.additional-controls .sort {
    position: relative;
    top: -15px; }
    .slot.additional-controls .sort .selections-dropdown {
      display: inline-block; }
      .slot.additional-controls .sort .selections-dropdown .selections-title {
        display: inline-block;
        font: 600 18px/26px Muli,sans-serif;
        vertical-align: middle; }
      .slot.additional-controls .sort .selections-dropdown .dropdown, .slot.additional-controls .sort .selections-dropdown .selections-dropdown .selections {
        display: inline-block; }
      .slot.additional-controls .sort .selections-dropdown .dropdown-toggle {
        background-color: inherit; }
      .slot.additional-controls .sort .selections-dropdown .selected-btn-display {
        font: 400 18px/26px Muli,sans-serif;
        padding-right: 20px; }
        .slot.additional-controls .sort .selections-dropdown .selected-btn-display::after {
          content: "\F078";
          color: #767676;
          font-family: 'FontAwesome';
          position: absolute;
          position: absolute;
          right: 8px;
          height: 25px;
          width: 25px;
          top: 6px; }
      .slot.additional-controls .sort .selections-dropdown .dropdown-menu {
        margin: 0;
        padding: 6px 0;
        border-radius: 4px;
        left: -50px; }
        .slot.additional-controls .sort .selections-dropdown .dropdown-menu li {
          font: 400 18px/26px Muli,sans-serif;
          font-size: 16px;
          padding: 7px 14px;
          white-space: nowrap; }
    .slot.additional-controls .sort .dropdown-toggle {
      padding-bottom: 0; }

.slot .collapsing, .slot .dropdown, .slot .dropup {
  position: relative; }

.display-styles .data-views-nav {
  display: inherit;
  margin-left: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 4px; }
  .display-styles .data-views-nav i {
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px; }
  .display-styles .data-views-nav li {
    display: block;
    padding-left: 0; }
    .display-styles .data-views-nav li .nav.nav-condensed-items > li > a:first-child {
      padding-left: 10px; }
    .display-styles .data-views-nav li a {
      color: #C4C4C4 !important;
      border-radius: 3px;
      background-color: transparent; }
      .display-styles .data-views-nav li a:hover {
        background-color: transparent;
        color: inherit !important; }
      .display-styles .data-views-nav li a.active {
        color: #fff !important;
        background-color: #7D78D1; }

.display-styles .visual-views-nav {
  margin-left: 10px;
  border: 1px solid #A3A2A2;
  border-radius: 4px;
  margin-left: 25px;
  padding: 5px 0; }
  .display-styles .visual-views-nav a {
    background-color: transparent !important; }

.display-styles .nav-pills > li > a {
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 2px 9px;
  color: #fff;
  margin: 0; }
