$white-color: #ffffff;
$default-color: #455565;
$sky-color: #009cf6;
$dark-steel-grey: #778DA4;
$light-grey: #97a8b8;
$success-green: #50D087;
$font-weight-medium: 500;
$font-weight-bold: 700;
$border-color: #dfe3e8;
$input-placeholder-color: $default-color;
$toggle-switch-bg-color-on: #A19EE2;