.authentication__signup-component, .authentication__login-component {
  &__benifits {
    .three-points {
      margin: 10px 0 40px;
    }
  }

  .social-login-or-signup-component-container {
    margin-top: 180px;

    .btn.social {
      display: block;
      width: 100%;
      padding: 13px 20px 13px 0;
      color: #fff;
      font: 400 16px/22px Muli,sans-serif;
      text-align: left;
      text-transform: uppercase;

      &:before {
        display: inline-block;
        margin: -13px 15px -13px 0;
        padding: 13px 0;
        width: 46px;
        font: 400 18px/1 Fontawesome;
        text-align: center;
        background-color: rgba(0,0,0,.25);
      }
    }

    .btn.social+.social {
      margin-top: 20px;
    }

    .btn.social.facebook {
      background-color: #3b5998;

      &:before {
        content: '\f09a';
      }
    }

    .btn.social.google {
      background-color: #4285f4;

      &:before {
        content: '\f1a0';
      }
    }
  }

  .hr-text {
    background-color: #DBDBDB;
    border: none;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;

    &:after {
      content: attr(data-content);
      display: inline-block;
      margin-left: -17px;
      padding: 0 10px;
      font: 600 16px/22px Muli,sans-serif;
      background-color: #fff;
      position: absolute;
      top: -12px;
    }
  }

  @media (min-width: 768px) {
    .hr-text {
      display: inline-block;
      height: 570px;
      margin: 0;
      width: 2px;
    }
  }
}

.authentication__login-component {
  .hr-text {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 2px;
    text-align: center;
    background-color: #DBDBDB;
    border: none;
    display: block;
    width: auto;

    &:after {
      content: attr(data-content);
      display: inline-block;
      margin-left: -17px;
      padding: 0 10px;
      font: 600 16px/22px Muli,sans-serif;
      background-color: #fff;
      position: absolute;
      top: -12px;
    }
  }

  h2 {
    margin: 0 0 20px;
    color: #515151;
    font: 400 26px/36px Muli,sans-serif;
  }

  .social-login-or-signup-component-container {
    margin-top: 0;
    width: 100%;
    padding: 0;
  }
}

.authentication__signup-component {
  .hr-text {
    &:after {
      background-color: #fff;
      content: attr(data-content);
      font: 600 16px/22px Muli,sans-serif;
      margin-left: 8px;
      padding: 0 10px;
      position: absolute;
      top: -12px;
      margin: 0;
      padding: 10px 0;
      left: -6px;
      top: 215px;
    }
  }
}

.body-content.login-container {
  padding-top: 111px!important;
  display: inline-block;
  width: 100%;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

div#forgot_password {
  margin-top: 40px;
  background-color: #F4F4F4;
  border: 1px solid #DBDBDB;
  border-radius: 4px;

  h2 {
    font: 400 26px/36px Muli,sans-serif;
    padding-bottom: 20px;
  }

  h3 {
    font: 600 20px/30px Muli,sans-serif;
  }

  .formContainer {
    border-right: 1px solid #DBDBDB;
    padding: 5px 0 20px 50px;
    min-height: 100%;
  }

  input[type=text], input[type=email], input[type=password], select, >input {
    min-width: 90%;
    max-width: 90%;
    padding: 0 10px;
    width: 100%;
    height: 44px;
    color: #606060;
    font: 400 16px/22px Muli,sans-serif;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

@media (min-width: 1350px) {
  .container {
    width: 1320px !important;
  }
}
