input, select {
  min-width: 100%; }

.btn.btn-secondary {
  color: #fff;
  background-color: #605CA8;
  border-color: #605CA8; }
  .btn.btn-secondary:hover {
    background-color: #7a77b6;
    border-color: #7a77b6; }

.text-center {
  text-align: center; }

.col-hg-1, .col-hg-10, .col-hg-11, .col-hg-12, .col-hg-2, .col-hg-3, .col-hg-4, .col-hg-5, .col-hg-6, .col-hg-7, .col-hg-8, .col-hg-9, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

a {
  background-color: transparent; }

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " "; }

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

img {
  max-width: 100%;
  height: auto; }

.footer-markets {
  font-size: 14px;
  line-height: 22px;
  background-color: #f4f4f4;
  padding: 5px 0;
  margin-top: 100px; }
  .footer-markets h3 {
    margin: 15px 0;
    font-size: 14px; }
  .footer-markets ul {
    margin: 0;
    padding: 0; }
  .footer-markets li {
    margin: 0 0 15px 0;
    padding: 0; }
  .footer-markets a {
    color: #515151;
    margin: 0;
    padding: 0; }

.pad-top-10 {
  padding-top: 10px; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-push-2 {
    left: 16.66666667%; } }

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-10 {
    width: 83.33333333%; } }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left; } }

@media (min-width: 992px) {
  .col-md-offset-4 {
    margin-left: 33.33333%; } }

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333%; } }
