.rs-form-group{
  position: relative;
  margin-bottom: 15px;

  select {
    background-position: center right 5px;
    background-size: 20px auto;
    background-image: url(../images/dropdown-arrow.png);
    background-repeat: no-repeat;
  }

  a {
    color: #605CA8;
    font-weight: 600;
    text-decoration: underline;
  }

  .termsContainer {
    a {
      display: inline-block;
    }
  }

  .selected-flag {
    border-right: 1px solid #C4C4C4;
  }
}

.rs-form-group.full-size .intl-tel-input {
  min-width: 100%;
}

.login-container {
  .checkbox-container {
    position: relative;
    left: 0;
    top: -10px;

    input[type=checkbox] {
      position: absolute;
      min-width: 0;
    }

    input[type=checkbox]+label {
      position: relative;
      margin-bottom: 10px;
      padding-left: 30px;
      color: #767676;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        border: 1px solid #C4C4C4;
        background: #fff;
        border-radius: 4px;
      }

      span {
        color: #515151;
        font: 400 16px/22px Muli,sans-serif;
      }
    }
  }
}

.error {
  font-size: 14px;
  color: #CF3737;
  font: 600 14px/22px Muli,sans-serif;
}

.input-error {
  .error-border {
    input {
      border: 1px solid #CF3737 !important;
      border-radius: 4px !important;
    }
  }
}

.rs-form-group {
  position: relative;
  margin-bottom: 15px;

  input[type=text], input[type=tel], input[type=password], select, textarea {
    padding: 0 10px;
    width: 100%;
    max-width: none;
    height: 44px;
    color: #606060;
    font: 400 16px/22px Muli,sans-serif;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.rs-form-group.has-addon {
  span.addon {
    display: block;
    width: 44px;
    height: 44px;
    color: #C4C4C4;
    line-height: 44px;
    text-align: center;
    border-right: 1px solid #C4C4C4;
    position: absolute;
    left: 0;
    top: 0;
  }

  input {
    text-indent: 46px;
  }
}
