@charset "UTF-8";
.invest-property-market {
  padding-top: 15px; }
  .invest-property-market form {
    margin-left: 15px; }
    .invest-property-market form .rs-input-container input {
      height: 42px;
      border: 1px solid #DBDBDB; }
    .invest-property-market form .btn-actions-wrapper {
      top: -2px;
      margin-left: 10px; }
      .invest-property-market form .btn-actions-wrapper button[type='submit'] {
        padding: 8px 15px; }
  .invest-property-market ul li + li {
    margin-top: 0px; }
  .invest-property-market .is-inline-title {
    position: relative; }
  .invest-property-market input[type='radio'] {
    width: auto; }
  .invest-property-market .nav-pills li.active a {
    background-color: #337ab7;
    color: #fff !important; }
  .invest-property-market .nav-pills li.is-default-view a {
    width: 40px; }
  .invest-property-market .nav-pills > li + li {
    margin-left: 2px;
    margin-top: 0; }
  .invest-property-market .nav-pills a {
    font: 400 13px/20px Muli,sans-serif;
    color: #767676;
    background-color: rgba(255, 224, 204, 0.3);
    border-radius: 22.5px;
    height: 26px;
    width: 135px;
    padding: 2px 5px;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .invest-property-market .nav-pills a:hover {
      background-color: #337ab7;
      color: #fff !important; }
  .invest-property-market .open-as-modal.inside-title-adjustment {
    top: 41px; }
  .invest-property-market .open-as-modal {
    background-color: #fff;
    position: absolute;
    z-index: 1000000000000000000000; }
  .invest-property-market .radio-container > label {
    cursor: pointer; }
  .invest-property-market .purple-checkboxes input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -9999px; }
    .invest-property-market .purple-checkboxes input[type=radio] + label > span {
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #C4C4C4;
      position: absolute;
      top: 3px;
      left: 3px; }
    .invest-property-market .purple-checkboxes input[type=radio] + label + span {
      color: #515151;
      font: 400 16px/22px Muli,sans-serif;
      margin-left: -30px;
      padding-left: 35px;
      position: relative;
      top: -4px;
      z-index: 2; }
    .invest-property-market .purple-checkboxes input[type=radio]:checked + label {
      border-color: #7D78D1; }
      .invest-property-market .purple-checkboxes input[type=radio]:checked + label > span {
        width: 10px;
        height: 10px;
        background-color: #7D78D1;
        border: none;
        top: 4px;
        left: 4px; }
    .invest-property-market .purple-checkboxes input[type=radio] + label {
      display: inline-block;
      margin: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #C4C4C4;
      position: relative;
      z-index: 1; }
  .invest-property-market .option-slider-align {
    padding-left: 30px; }
  .invest-property-market .filter-modal-footer {
    margin: 15px -11px 0; }
    .invest-property-market .filter-modal-footer .buttons {
      border-top: 1px solid #DBDBDB; }
  .invest-property-market .btn.btn-link-secondary, .invest-property-market .btn.btn-link-secondary.active, .invest-property-market .btn.btn-link-secondary:active, .invest-property-market .btn.btn-link-secondary[disabled], .invest-property-market fieldset[disabled] .btn.btn-link-secondary {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .invest-property-market .btn.btn-link-default, .invest-property-market .btn.btn-link-default.active, .invest-property-market .btn.btn-link-default:active, .invest-property-market .btn.btn-link-default[disabled], .invest-property-market fieldset[disabled] .btn.btn-link-default {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .invest-property-market .btn.btn-link-default {
    color: #777; }
  .invest-property-market .btn.btn-link-secondary {
    color: #605CA8; }
  .invest-property-market .filter-select-dropdown {
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    padding: 10px 10px 0;
    margin: 10px 0;
    width: 100%; }
  .invest-property-market .filter-control-area {
    float: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .invest-property-market .filters-main {
    -webkit-box-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    position: relative; }
    .invest-property-market .filters-main--filter-control {
      -webkit-box-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      margin-bottom: 15px;
      padding-right: 10px; }
    .invest-property-market .filters-main .filter-select-trigger {
      border: 1px solid #DBDBDB;
      border-radius: 4px;
      cursor: pointer;
      padding: 11px 15px;
      position: relative;
      text-align: left; }
      .invest-property-market .filters-main .filter-select-trigger::after {
        content: "\f078";
        color: #767676;
        font-family: 'FontAwesome';
        position: absolute;
        right: 15px;
        top: 11px; }
  .invest-property-market .filter-select-trigger.is-open:after {
    content: ""; }
  .invest-property-market .filter-select {
    position: relative; }
  .invest-property-market .main-filters--filter-control {
    flex: 0 0 29%;
    margin-bottom: 15px;
    padding-right: 10px; }
    .invest-property-market .main-filters--filter-control:first-child {
      padding-left: 5px; }
    .invest-property-market .main-filters--filter-control--more {
      padding-right: 0px; }
      .invest-property-market .main-filters--filter-control--more .plus-minus-input-group-right {
        padding-left: 8px;
        padding-right: 23px; }
      .invest-property-market .main-filters--filter-control--more .property-filters-select-dropdown.filter-select-dropdown {
        right: 0;
        width: 800px;
        left: auto; }
        .invest-property-market .main-filters--filter-control--more .property-filters-select-dropdown.filter-select-dropdown .ie-radio-fix, .invest-property-market .main-filters--filter-control--more .property-filters-select-dropdown.filter-select-dropdown .option-text-align {
          font: 400 13px/20px Muli,sans-serif; }
      .invest-property-market .main-filters--filter-control--more .slider-filter-options, .invest-property-market .main-filters--filter-control--more .filter-select {
        padding-bottom: 10px; }
      .invest-property-market .main-filters--filter-control--more .title {
        font: 400 13px/20px Muli,sans-serif;
        white-space: nowrap; }
      .invest-property-market .main-filters--filter-control--more .btn-link-default {
        padding-right: 10px;
        font-weight: normal; }
      .invest-property-market .main-filters--filter-control--more .actions-btn-group {
        margin: 15px -11px 0; }
        .invest-property-market .main-filters--filter-control--more .actions-btn-group .buttons {
          border-top: 1px solid #DBDBDB; }
  .invest-property-market .main-filters--filter-control.property-filters-control {
    flex: 0 0 13%; }
  .invest-property-market .main-filters--filter-select-dropdown.filter-select-dropdown:not(.match-trigger-width) {
    width: 360px; }
    .invest-property-market .main-filters--filter-select-dropdown.filter-select-dropdown:not(.match-trigger-width) .ui-slider {
      padding-right: 10px; }
  .invest-property-market .__marketplace__marketplace-component__filters__main__faaaa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }

.ember-modal-dialog.emd-in-place {
  position: static; }

.modal-or-in-place--in-place-container.ember-modal-dialog {
  border-radius: unset;
  box-shadow: unset;
  padding: 0; }

.ember-modal-dialog {
  z-index: 51;
  position: fixed;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10px; }

.open-as-modal.inside-title-adjustment {
  top: 41px; }
  .open-as-modal.inside-title-adjustment.market-dropdown .selection-filter-options.is-multi-select {
    max-height: 213px;
    overflow: auto; }
  .open-as-modal.inside-title-adjustment.market-dropdown .selection-filter-options ul {
    list-style: none;
    padding: 0; }
  .open-as-modal.inside-title-adjustment.market-dropdown [type=checkbox]:checked ~ label:before, .open-as-modal.inside-title-adjustment.market-dropdown [type=checkbox]:not(:checked) ~ label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #C4C4C4;
    background: #fff;
    border-radius: 4px; }
