<p>
  <%= = #{email_format(@user.name)}, %>
</p>
<p>
  We have received your request to reset your password.
</p>
<p>
  <%= = #{link_to 'Click this link', @url} and choose a new password %>
</p>
<p></p>
(Your password will remain the same if no action is taken)
