<div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_4571804601191190698bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
      <tbody><tr>
          <td align="center" valign="top" id="m_4571804601191190698bodyCell" style="height:100%;margin:0;padding:0;width:100%;border-top:0">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
              <tbody><tr>
                  <td align="center" valign="top" id="m_4571804601191190698templatePreheader" style="background-color:#0f173e;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">

                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698templateContainer" style="border-collapse:collapse;max-width:600px">
                      <tbody><tr>
                          <td valign="top" class="m_4571804601191190698preheaderContainer">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                              <tbody class="m_4571804601191190698mcnTextBlockOuter">
                                <tr>
                                  <td valign="top" class="m_4571804601191190698mcnTextBlockInner">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" class="m_4571804601191190698mcnTextContentContainer" style="border-collapse:collapse">
                                      <tbody>
                                        <tr>

                                          <td valign="top" class="m_4571804601191190698mcnTextContent" style="padding:9px 0px 9px 18px;color:#ffffff;word-break:break-word;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">

                                            <a href="javascript:void(0)" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.roofstock.com?p%3DeyJzIjoiN1pyVjJxODhXRWxER0tjbFNwbFVpdG1sQVRZIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5yb29mc3RvY2suY29tXCIsXCJpZFwiOlwiZTUxNGNiYjlmMzQ5NDdkMWJkNGFjZTk4YjFmYmQ1OGVcIixcInVybF9pZHNcIjpbXCJiMmQ2NjdlNmVmZjY1NmIzZWJmNjExNjViYjY3ZmIwYzIwNWNjZDNkXCJdfSJ9&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNG1Vv4yy6M8au7u8uha89fgcpugjw"><span style="width:126px;height:auto;margin:0px;border:0;outline:none;text-decoration:none;font-size: 24px;" width="126">REITSimple</></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                    </tbody></table>

                  </td>
                </tr>

                <tr>
                  <td valign="top" id="m_4571804601191190698templateBody" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;width:100%;max-width:600px">

                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698templateContainer" style="border-collapse:collapse;max-width:600px">
                      <tbody><tr>
                          <td valign="top" class="m_4571804601191190698bodyContainer">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                              <tbody class="m_4571804601191190698mcnTextBlockOuter">
                                <tr>
                                  <td valign="top" class="m_4571804601191190698mcnTextBlockInner">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_4571804601191190698mcnTextContentContainer">
                                      <tbody>
                                        <tr>

                                          <td valign="top" class="m_4571804601191190698mcnTextContent" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">


                                            Dear <%= @user.first_name %>,
                                            <br>
                                            <br>
                                            We've received a password reset request from your email account.
                                            <br>
                                            <br>
                                            Please click <%= link_to 'here', @url %> to choose a new password.
                                            Contact us at <a href="mailto:support@roofstock.com?Subject=Password%20reset%20issue" style="color:#f17422;font-weight:normal;text-decoration:underline" target="_blank">support@reitsimple.com</a>
                                            if you have not made this request or if you have any questions.


                                          </td>
                                        </tr>
                                        <tr>
                                          <td valign="top" class="m_4571804601191190698mcnTextContent" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                            <br>
                                            Cheers,
                                            <br>
                                            <br>
                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                              <tbody><tr>
                                                  <td valign="top" style="width:140px">
                                                    <img alt="Lizzy Weiss" src="https://ci4.googleusercontent.com/proxy/5NbLquoTMIDG1A3UVgPPzJrVBIpRYIcmOYzunaO6cfB9ov2G_S2_mreVQIQntkSydtyfvFfhgBVPBXo43qN0FzHYeL7OGAS1E_fVL2OayaJ4jY-Vk1vC-MvoI9SX4NJhJdhymuzQPVrz=s0-d-e1-ft#https://rs1pub1content.blob.core.windows.net/contents-email/lizzy-weiss-315x315.jpg" width="140" style="width:140px;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd"><br>
                                                  </td>
                                                  <td valign="bottom" style="font-size:14px;vertical-align:bottom">
                                                    <img alt="Lizzy Weiss" src="https://ci4.googleusercontent.com/proxy/arriNm3KKAt61NNJsFXhiWATF1h28faf5lmvJZNd7vTuvOW-nKV6eib3tAguxS_OKJZeLujC_bDfcb_dwa0opvYhn06EQ5JYWmVNJaHcECW2oWMZLR2hDa_MyHRSNl4nbEsDswY=s0-d-e1-ft#https://rs1pub1content.blob.core.windows.net/contents-email/lizzy-weiss-sig.jpg" width="140" style="width:140px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="CToWUd">
                                                    <br>
                                                    Lizzy Weiss
                                                  </td>
                                                </tr>
                                            </tbody></table>
                                            <br>
                                            Director, Client Services<br>
                                            <a href="tel:(510)%20111-1111" value="+15101111111" target="_blank">(510) 111-1111</a><br>
                                            <a href="mailto:lizzy.weiss@reitsimple.com" style="color:#f17422;font-weight:normal;text-decoration:underline" target="_blank">lizzy.weiss@reitsimple.com</a><br>
                                            <a href="javascript:void(0)" style="color:#f17422;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.roofstock.com?p%3DeyJzIjoiN1pyVjJxODhXRWxER0tjbFNwbFVpdG1sQVRZIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5yb29mc3RvY2suY29tXCIsXCJpZFwiOlwiZTUxNGNiYjlmMzQ5NDdkMWJkNGFjZTk4YjFmYmQ1OGVcIixcInVybF9pZHNcIjpbXCJiMmQ2NjdlNmVmZjY1NmIzZWJmNjExNjViYjY3ZmIwYzIwNWNjZDNkXCJdfSJ9&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNG1Vv4yy6M8au7u8uha89fgcpugjw">www.roofstock.com</a><br>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                    </tbody></table>

                  </td>
                </tr>

                <tr>
                  <td align="center" valign="top" id="m_4571804601191190698templateFooter" style="background-color:#0f173e;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">

                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698templateContainer" style="border-collapse:collapse;max-width:600px">
                      <tbody><tr>
                          <td valign="top" class="m_4571804601191190698footerContainer">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
                              <tbody class="m_4571804601191190698mcnFollowBlockOuter">
                                <tr>
                                  <td align="center" valign="top" style="padding:9px" class="m_4571804601191190698mcnFollowBlockInner">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
                                      <tbody>
                                        <tr>
                                          <td align="center" style="padding-left:9px;padding-right:9px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_4571804601191190698mcnFollowContent">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                      <tbody>
                                                        <tr>
                                                          <td align="center" valign="top">




                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                              <tbody>
                                                                <tr>
                                                                  <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_4571804601191190698mcnFollowContentItemContainer">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnFollowContentItem" style="border-collapse:collapse">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                              <tbody>
                                                                                <tr>

                                                                                  <td align="center" valign="middle" width="24" class="m_4571804601191190698mcnFollowIconContent">
                                                                                    <a href="javascript:void(0)" style="color:#f17422;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.linkedin.com?p%3DeyJzIjoiODNFXzh6WEIzZ0VMRlpGU0xsU05tZVFCcURJIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9yb29mc3RvY2tcIixcImlkXCI6XCJlNTE0Y2JiOWYzNDk0N2QxYmQ0YWNlOThiMWZiZDU4ZVwiLFwidXJsX2lkc1wiOltcIjVmNDQ3NGRhNDA0NTI4ZTMxOTk5NWIzZTQxMTgyNzFiMThjNWRiYjVcIl19In0&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNFqja0-4sX0a46rW1Gri2KDGk63MA"><img src="https://ci3.googleusercontent.com/proxy/PXhKQ9u3DQ8GjJ8EPjpzP6wAul0kVgL6uYuhJpdIQtBKi71bOuUUm_BAZVv-7Y62YWgGzuxBu20TIK9Xf1kbzPwIwmFKjpnbhGayPvfE5bTXIp7Z2VHVMJnKTjXrcWI-dEk=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                  </td>


                                                                                </tr>
                                                                              </tbody>
                                                                            </table>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>





                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                              <tbody>
                                                                <tr>
                                                                  <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_4571804601191190698mcnFollowContentItemContainer">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnFollowContentItem" style="border-collapse:collapse">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                              <tbody>
                                                                                <tr>

                                                                                  <td align="center" valign="middle" width="24" class="m_4571804601191190698mcnFollowIconContent">
                                                                                    <a href="javascript:void(0)" style="color:#f17422;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.facebook.com?p%3DeyJzIjoiSkZtbzJuM1pvT0FsQ1h4UkxOMmZkWDZlNUNvIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mYWNlYm9vay5jb21cXFwvUm9vZnN0b2NrXCIsXCJpZFwiOlwiZTUxNGNiYjlmMzQ5NDdkMWJkNGFjZTk4YjFmYmQ1OGVcIixcInVybF9pZHNcIjpbXCJlNzYwNWI5YTgzNGIyMTNkYmM4MmNjM2Y1OGVkMjE2ZDcyNTZhZjI5XCJdfSJ9&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNHxW8I20UP8mwoQrF0lLDR-uXOeEA"><img src="https://ci5.googleusercontent.com/proxy/THEfQ-zOr2AaMLVp_TKYp66Poy4XIPQHLLPvp3JqaDTShBZ9oZafDmhUm7hfcJbSG9vWeV4d9Esrao80PBgUGiMiifS3Dl-CqVUBIY1Qj6oJicgM-Vrdv4BVqtr98zDVKOE=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                  </td>


                                                                                </tr>
                                                                              </tbody>
                                                                            </table>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                              <tbody>
                                                                <tr>
                                                                  <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_4571804601191190698mcnFollowContentItemContainer">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnFollowContentItem" style="border-collapse:collapse">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                              <tbody>
                                                                                <tr>

                                                                                  <td align="center" valign="middle" width="24" class="m_4571804601191190698mcnFollowIconContent">
                                                                                    <a href="javascript:void(0)" style="color:#f17422;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.twitter.com?p%3DeyJzIjoiWTVna2pKdE5MQ0xSaEhPSmRlRTBXVGkzeENnIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy50d2l0dGVyLmNvbVxcXC9Sb29mc3RvY2tcIixcImlkXCI6XCJlNTE0Y2JiOWYzNDk0N2QxYmQ0YWNlOThiMWZiZDU4ZVwiLFwidXJsX2lkc1wiOltcIjVkYzJkMzdiZWZhZTEyNzU1M2EyMGJlODdkYmM3MTZlZDNjNTAzZjVcIl19In0&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNHKVSvjFhJhFFxFoxkq1P5YSCjbYA"><img src="https://ci5.googleusercontent.com/proxy/7Mkp5x7vnjoGT2ynGuzF3bII8G8nN9AZ8P94lSQK9u1YI3mtO9W7FJ47IvEXf-miKSuDyVsogoi3lN_ByGUbmgjPGjx-metceXGhlGdxbwFiNbGKmwGCzURgcLUOD4kCIw=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                  </td>


                                                                                </tr>
                                                                              </tbody>
                                                                            </table>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                              <tbody>
                                                                <tr>
                                                                  <td valign="top" style="padding-right:0;padding-bottom:9px" class="m_4571804601191190698mcnFollowContentItemContainer">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnFollowContentItem" style="border-collapse:collapse">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                              <tbody>
                                                                                <tr>

                                                                                  <td align="center" valign="middle" width="24" class="m_4571804601191190698mcnFollowIconContent">
                                                                                    <a href="javascript:void(0)" style="color:#f17422;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.roofstock.com?p%3DeyJzIjoiN1pyVjJxODhXRWxER0tjbFNwbFVpdG1sQVRZIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5yb29mc3RvY2suY29tXCIsXCJpZFwiOlwiZTUxNGNiYjlmMzQ5NDdkMWJkNGFjZTk4YjFmYmQ1OGVcIixcInVybF9pZHNcIjpbXCJiMmQ2NjdlNmVmZjY1NmIzZWJmNjExNjViYjY3ZmIwYzIwNWNjZDNkXCJdfSJ9&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNG1Vv4yy6M8au7u8uha89fgcpugjw"><img src="https://ci4.googleusercontent.com/proxy/XGenZrmUcdiVbGsrNYCRgHNYNfacIjhuLbFebzTFb_97r7SkYv7ogFxlEPf2hCuN5Kk9p8x-3_ifj6nSGicK0tVj4vtdS4rtGr6b05PDLfKpkMu-ZN-ze73H72HWQg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                  </td>


                                                                                </tr>
                                                                              </tbody>
                                                                            </table>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div style="min-width:100%;border-top-width:2px;border-top-style:solid;border-top-color:#f17422">&nbsp;</div>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4571804601191190698mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                              <tbody class="m_4571804601191190698mcnTextBlockOuter">
                                <tr>
                                  <td valign="top" class="m_4571804601191190698mcnTextBlockInner">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_4571804601191190698mcnTextContentContainer">
                                      <tbody>
                                        <tr>

                                          <td valign="top" class="m_4571804601191190698mcnTextContent" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#515151;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                                            <em>Copyright © 2018 REITSimple Inc, All rights reserved.</em>
                                            <br>
                                            <a href="https://maps.google.com/?q=1625+Clay+Street,+5th+Floor,+Oakland,+CA+94612&amp;entry=gmail&amp;source=g">1625 Clay Street, 5th Floor, Oakland, CA 94612</a>
                                            <br>
                                            <a href="mailto:support@reitsimple.com" style="color:#515151;font-weight:normal;text-decoration:underline" target="_blank">support@reitsimple.com</a>
                                            <br>
                                            <span style="color:#515151"><a href="tel:(510)%20269-9400" value="+15102699400" target="_blank">(510) 269-9400</a></span>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                    </tbody></table>

                  </td>
                </tr>

            </tbody></table>

          </td>
        </tr>
    </tbody></table>
  </center>
  <img src="https://ci3.googleusercontent.com/proxy/AIUt8ccdL21KpNcbTmROzPwi0xCIcU3mTKwgEsE82_Y5gsXkLi0uFAHfBgYgCFyD1Ecfw1zyZ5pOMHklH5Ztoxc2gP9RBnBK50qRzMUJtyIVuGc0-9h-klapSevEBV9I7-cog4d0noN98vQ=s0-d-e1-ft#https://mandrillapp.com/track/open.php?u=30721448&amp;id=e514cbb9f34947d1bd4ace98b1fbd58e" height="1" width="1" class="CToWUd"></div>
