<div style="background-color:#ffffff;font-family:sans-serif;height:100%!important;margin:0;padding:0;width:100%!important" marginwidth="0" marginheight="0" bgcolor="#ffffff" height="100% !important" width="100% !important">

  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" height="100% !important" width="100% !important" id="m_-6075058185946966855backgroundTable" style="border-collapse:collapse!important;background-color:#ffffff;font-family:sans-serif;height:100%!important;margin:0;padding:0;width:100%!important">
    <tbody><tr>
        <td align="center" valign="top" id="m_-6075058185946966855bodyCell" style="height:100%!important;margin:0;padding:0;width:100%!important" height="100% !important" width="100% !important">


          <table border="0" cellpadding="0" cellspacing="0" id="m_-6075058185946966855templateTable" style="border-collapse:collapse!important;width:600px;background-color:#ffffff" width="600" bgcolor="#ffffff">
            <tbody><tr>
                <td align="center" valign="top">

                  <div class="m_-6075058185946966855header-container-wrapper">
                  </div><table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-6075058185946966855headerTable" style="background-color:#ffffff;color:#515151;font-family:sans-serif;font-size:10px;line-height:120%;text-align:right;border-collapse:separate!important;padding-right:30px" bgcolor="#ffffff" align="right">
                    <tbody><tr>
                        <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
                          <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
                            <tbody><tr>
                                <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
                                  <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-email_view_as_web_page">
                                  </div>
                                </td>
                              </tr>
                          </tbody></table>
                        </td>
                      </tr>

                  </tbody></table>

                </td>
              </tr>
              <tr>
                <td align="center" valign="top" id="m_-6075058185946966855contentCell" style="padding:10px 20px;background-color:#ffffff" bgcolor="#ffffff">


                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-6075058185946966855contentTableOuter" style="border-collapse:separate!important;background-color:#ffffff;padding:30px;border:1px solid #d9d9d9;border-bottom:1px solid #b9b9b9" bgcolor="#ffffff">
                    <tbody><tr>
                        <td align="center" valign="top">
                          <div class="m_-6075058185946966855body-container-wrapper">
                          </div><table border="0" cellpadding="0" cellspacing="0" id="m_-6075058185946966855contentTableInner" style="border-collapse:collapse!important;width:600px" width="600">
                            <tbody><tr>
                                <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
                                  <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
                                    <tbody><tr>
                                        <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate!important;border-spacing:0;background-color:#0f173e" class="m_-6075058185946966855columnContentTable" bgcolor="#0F173E"><tbody><tr><td align="left" valign="top" class="m_-6075058185946966855columnContent m_-6075058185946966855widget-span m_-6075058185946966855widget-type-logo" style="text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151;padding:10px 0px 10px 10px">
                                                  <div class="m_-6075058185946966855layout-widget-wrapper">
                                                    <div id="m_-6075058185946966855hs_cos_wrapper_logo_image" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_logo" style="color:inherit;font-size:inherit;line-height:inherit"><a href="javascript:void(0)" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://mandrillapp.com/track/click/30721448/www.roofstock.com?p%3DeyJzIjoiN1pyVjJxODhXRWxER0tjbFNwbFVpdG1sQVRZIiwidiI6MSwicCI6IntcInVcIjozMDcyMTQ0OCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5yb29mc3RvY2suY29tXCIsXCJpZFwiOlwiZTUxNGNiYjlmMzQ5NDdkMWJkNGFjZTk4YjFmYmQ1OGVcIixcInVybF9pZHNcIjpbXCJiMmQ2NjdlNmVmZjY1NmIzZWJmNjExNjViYjY3ZmIwYzIwNWNjZDNkXCJdfSJ9&amp;source=gmail&amp;ust=1519239054673000&amp;usg=AFQjCNG1Vv4yy6M8au7u8uha89fgcpugjw"><span style="width:126px;height:auto;margin:0px;border:0;outline:none;text-decoration:none;font-size: 24px;" width="126">REITSimple</></a></div>
</div>
</td></tr></tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
  <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
      <tbody><tr>
          <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
            <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-email_body">
              <div id="m_-6075058185946966855hs_cos_wrapper_hs_email_body" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_rich_text" style="color:inherit;font-size:inherit;line-height:inherit"><p style="margin-bottom:1em">Hi&nbsp;<%= @user.first_name %>,</p>
                <p style="margin-bottom:1em"><span style="background-color:transparent;color:inherit;font-size:inherit">Congratulations on taking your first step towards building your financial future through the purchase of single-family flips.</span></p>
                <p><span style="background-color:transparent;color:inherit;font-size:inherit">Many people don’t know that with financing, you can buy a undervalued house for as little as $20,000 down. REITSimple's exclusive online marketplace makes it easy to find, purchase and own ready to flip properties. Our expert Advisors are available at contact@brahmanholdings.com to answer any questions you might have. They can also walk you through REITSimple's powerful search and analysis tools.</span></p>
                <p><span style="background-color:transparent;color:inherit;font-size:inherit">A member of our Advisory Team will be contacting you shortly. They’ll learn more about your general goals and set up a time to work with an Advisor to create a personalized search filter tailored to your buying criteria. In the meantime, don’t hesitate to shoot me an email if you have questions.</span></p>
              </div>
            </div>
          </td>
        </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
      <tbody><tr>
          <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
            <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-cta">
              <div class="m_-6075058185946966855layout-widget-wrapper">
                <div id="m_-6075058185946966855hs_cos_wrapper_module_1495743668535119" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_cta" style="color:inherit;font-size:inherit;line-height:inherit"></div>
              </div>
            </div>
          </td>
        </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
      <tbody><tr>
          <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
            <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-rich_text">
              <div class="m_-6075058185946966855layout-widget-wrapper">
                <div id="m_-6075058185946966855hs_cos_wrapper_module_1495743693242121" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_rich_text" style="color:inherit;font-size:inherit;line-height:inherit"><div><span class="m_-6075058185946966855author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84zro1we92yrbz90zvuz72zz67zz90z4z81zz75zjsz87zz88zz122zz90zjz82zz81zz122z">Sincerely,&nbsp;</span></div>
                  <div>&nbsp;</div>
                  <div><span class="m_-6075058185946966855author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84zro1we92yrbz90zvuz72zz67zz90z4z81zz75zjsz87zz88zz122zz90zjz82zz81zz122z">The <span class="il">REITSimple</span> Team&nbsp;</span></div>
                  <div><a href="https://join.roofstock.com/e1t/c/*N81PsqGtfCb7W3J3gdR5Rl4tl0/*W4jDT244LLRt7W6crCY012P4Hk0/5/f18dQhb0S5fp8YHrDTW4jzx9C51dBV-W12xyV85w6s4gVR5vTY43bKNRW2K4R9r8ZkD0BW7sr5Hz8X4QDtW8TDJpw5mZ50NW8HbRxP8k1dMQVpSBF38Wj6VXW5mYx4330b0qzW7PNnwQ96zRPSW6bT6L38RzZSQW96LgbN5DQqTxW520N2H7v70xcW7N_KqM11X8XwW8mQMYT7NM5zGW749y_c3X0g0yN6bp1cMbq5fxW4TKc2l5wvFmrW1vYWY53scPHqW69MvgF63RV9nW7d22WS5vMlZVV2gkCb50wf_xW5w6r_441FQB0N5PTPrh2GYRXW8xX0r-7xZXzTW8nRXfd3KS2BxW4VJrMf61Cs-DVPV0Lm87vBjJW4DmnKy8djhtBW1bBvW33_5Xh9W4psH-C1NFfl4W8P4D7p50tlByW5tMmFz61TMPxW60CgR88TP7D1W5qv4fv2DV8zvW6GQrD589S3b4W7WBCP38rV0qlW41-mWR47Pg6tN8DDPt-rVprCW56gBW-5_zDwlf2F3MK-04" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://join.roofstock.com/e1t/c/*N81PsqGtfCb7W3J3gdR5Rl4tl0/*W4jDT244LLRt7W6crCY012P4Hk0/5/f18dQhb0S5fp8YHrDTW4jzx9C51dBV-W12xyV85w6s4gVR5vTY43bKNRW2K4R9r8ZkD0BW7sr5Hz8X4QDtW8TDJpw5mZ50NW8HbRxP8k1dMQVpSBF38Wj6VXW5mYx4330b0qzW7PNnwQ96zRPSW6bT6L38RzZSQW96LgbN5DQqTxW520N2H7v70xcW7N_KqM11X8XwW8mQMYT7NM5zGW749y_c3X0g0yN6bp1cMbq5fxW4TKc2l5wvFmrW1vYWY53scPHqW69MvgF63RV9nW7d22WS5vMlZVV2gkCb50wf_xW5w6r_441FQB0N5PTPrh2GYRXW8xX0r-7xZXzTW8nRXfd3KS2BxW4VJrMf61Cs-DVPV0Lm87vBjJW4DmnKy8djhtBW1bBvW33_5Xh9W4psH-C1NFfl4W8P4D7p50tlByW5tMmFz61TMPxW60CgR88TP7D1W5qv4fv2DV8zvW6GQrD589S3b4W7WBCP38rV0qlW41-mWR47Pg6tN8DDPt-rVprCW56gBW-5_zDwlf2F3MK-04&amp;source=gmail&amp;ust=1519748461547000&amp;usg=AFQjCNHovoI_ljS18n5je_kG-fsylHQaLQ"><span class="m_-6075058185946966855author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84zro1we92yrbz90zvuz72zz67zz90z4z81zz75zjsz87zz88zz122zz90zjz82zz81zz122z">www.<span class="il">reitsimple</span>.com</span></a></div>
                  <div><span class="m_-6075058185946966855author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84zro1we92yrbz90zvuz72zz67zz90z4z81zz75zjsz87zz88zz122zz90zjz82zz81zz122z"><a href="tel:(510)%20269-9552" value="+15102699552" target="_blank">510-269-9552</a></span></div>
                  <div>&nbsp;</div></div>
              </div>
            </div>
          </td>
        </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
      <tbody><tr>
          <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
            <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-rich_text">
              <div class="m_-6075058185946966855layout-widget-wrapper">
                <div id="m_-6075058185946966855hs_cos_wrapper_module_149574461046341" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_rich_text" style="color:inherit;font-size:inherit;line-height:inherit"><p style="margin-bottom:1em"><strong style="font-size:10px;background-color:transparent;color:inherit"><i>No Creation of Agency/Fiduciary Relationship:</i></strong><span style="font-size:10px;background-color:transparent;color:inherit"> Any information provided by, or discussion with, an employee of <span class="il">REITSimple</span>, Inc. (or any subsidiary) regarding the <span class="il">REITSimple</span> marketplace should not be considered, nor is it intended to be, real estate advice in any manner and is for informational purposes only. Unless a fully executed agency agreement is in place with <span class="il">REITSimple</span> Realty, LLC, any such information or conversations are not intended to, nor does it, create a fiduciary or other similar relationship with <span class="il">REITSimple</span> or any subsidiary.</span></p></div>
              </div>
            </div>
          </td>
        </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
      <tbody><tr>
          <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
            <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-text" style="padding:10px 0px 0px 0px;text-align:right">
              <div class="m_-6075058185946966855layout-widget-wrapper">
                <div id="m_-6075058185946966855hs_cos_wrapper_social_sharing_label" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_text" style="color:inherit;font-size:inherit;line-height:inherit"></div>
              </div>
            </div>
          </td>
        </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
      <tbody><tr>
          <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
            <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-social_sharing" style="padding:10px 0px 0px 0px;text-align:right">
              <div class="m_-6075058185946966855layout-widget-wrapper">
                <div id="m_-6075058185946966855hs_cos_wrapper_Social_Sharing" class="m_-6075058185946966855hs_cos_wrapper m_-6075058185946966855hs_cos_wrapper_widget m_-6075058185946966855hs_cos_wrapper_type_social_sharing" style="color:inherit;font-size:inherit;line-height:inherit"><a href="javascript:void(0)" style="width:24px;border-width:0px;border:0px" width="24" target="_blank" ><img src="https://ci3.googleusercontent.com/proxy/BW-ptUPDIGOlwacA2hr0ezH0M4IwEkS2n9hTjUSCMdrdEnzSrTAzP4rgVwRXpt44pFp2887ICfzxDqO7M2EovJWA6gv90zLGNUqzZtia-jV-kNoa7_3fEldHaTH2t9V99g=s0-d-e1-ft#https://static.hubspot.com/final/img/common/icons/social/facebook-24x24.png" class="m_-6075058185946966855hs-image-widget m_-6075058185946966855hs-image-social-sharing-24 CToWUd" style="vertical-align:bottom;max-height:24px;max-width:24px;border-width:0px;border:0px" width="24" hspace="0" alt="Share on Facebook"></a>&nbsp;<a href="javascript:void(0)" style="width:24px;border-width:0px;border:0px" width="24" target="_blank" ><img src="https://ci6.googleusercontent.com/proxy/QRv7rbPKEsIS0AdZXgAWhwlzaIXRe33HYg6CQcK-iiKcdb0PLi5yT-pPXtBTaGd7J2JysbxUSZehGWU_GV76Cc_0I4GI9L_xoKj6PAakMcece-9Aw-g_bKbBIJlrSruyUw=s0-d-e1-ft#https://static.hubspot.com/final/img/common/icons/social/linkedin-24x24.png" class="m_-6075058185946966855hs-image-widget m_-6075058185946966855hs-image-social-sharing-24 CToWUd" style="vertical-align:bottom;max-height:24px;max-width:24px;border-width:0px;border:0px" width="24" hspace="0" alt="Share on LinkedIn"></a>&nbsp;<a href="javascript:void(0)" style="width:24px;border-width:0px;border:0px" width="24" target="_blank" ><img src="https://ci5.googleusercontent.com/proxy/5LI_Y_HNvt_YRVveSLeNX8qEIDYoQJFUveic0dSpwzUkZW6wLruRl5bfiMVf8evDnm7bjSIJEqJ6TxSfC6jHZNs2PPwqoDGNRbA2gaSdjj9C0fQ-RqghRyeGGXPfGxKt=s0-d-e1-ft#https://static.hubspot.com/final/img/common/icons/social/twitter-24x24.png" class="m_-6075058185946966855hs-image-widget m_-6075058185946966855hs-image-social-sharing-24 CToWUd" style="vertical-align:bottom;max-height:24px;max-width:24px;border-width:0px;border:0px" width="24" hspace="0" alt="Share on Twitter"></a>&nbsp;<a href="javascript:void(0)" style="width:24px;border-width:0px;border:0px" width="24" target="_blank" ><img src="https://ci6.googleusercontent.com/proxy/UQqFcqSK0hRiatBzidj04ZMfVCX_wROcVSSoQgRmpizAR8ZuV5OMpuL5j2xQYtmk3luRgx2EpdsE01Sf5ZS8MfO0IRFF-HLq26VFCo9eQ_m9_LjftC-5iguh2PKhlSzLqQAz=s0-d-e1-ft#https://static.hubspot.com/final/img/common/icons/social/googleplus-24x24.png" class="m_-6075058185946966855hs-image-widget m_-6075058185946966855hs-image-social-sharing-24 CToWUd" style="vertical-align:bottom;max-height:24px;max-width:24px;border-width:0px;border:0px" width="24" hspace="0" alt="Share on Google+"></a>&nbsp;<a href="javascript:void(0)" width="24" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/BCUaTbf0KzHRMv7aXKdS4VOhztbKHuFqwo-bCAQJoh-Lc8p_XRKwbLKngwz4wbmKyft1XsA-9rEGoVRK8Acg2_819BtfsYRpCHGlT_7QoGb422Rx1BYkUNHnkKcPaA=s0-d-e1-ft#https://static.hubspot.com/final/img/common/icons/social/email-24x24.png" class="m_-6075058185946966855hs-image-widget m_-6075058185946966855hs-image-social-sharing-24 CToWUd" style="vertical-align:bottom;max-height:24px;max-width:24px;border-width:0px;border:0px" width="24" hspace="0" alt="Share on Email"></a></div>
              </div>
            </div>
          </td>
        </tr>
    </tbody></table>
  </td>
</tr>

</tbody></table>
</td>
</tr>
</tbody></table>

</td>
</tr>
<tr>
  <td align="center" valign="top">

    <div class="m_-6075058185946966855footer-container-wrapper">
    </div><table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-6075058185946966855footerTable" style="border-collapse:collapse!important;background-color:#ffffff;color:#0f173e;font-family:sans-serif;font-size:12px;line-height:120%;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;text-align:center" bgcolor="#ffffff" align="center">
      <tbody><tr>
          <td align="left" valign="top" class="m_-6075058185946966855bodyContent" width="100%" colspan="12" style="color:#515151;font-family:sans-serif;font-size:16px;line-height:150%;text-align:left">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="m_-6075058185946966855templateColumnWrapper" style="border-collapse:collapse!important">
              <tbody><tr>
                  <td valign="top" colspan="12" width="100.0%" class="m_-6075058185946966855column" style="width:100.0%;text-align:left;padding:0;font-family:sans-serif;font-size:16px;line-height:1.5em;color:#515151" align="left">
                    <div class="m_-6075058185946966855widget-span m_-6075058185946966855widget-type-email_can_spam">
                      <p id="m_-6075058185946966855footer" style="margin-bottom:1em;font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;text-align:center;font-size:12px;line-height:1.34em;color:#0f173e;display:block" align="center"><span class="il">REITSimple</span> &nbsp;&nbsp;<a href="https://maps.google.com/?q=1625+Clay+Street,+5th+floor+%C2%A0+%C2%A0Oakland+%C2%A0CA+%C2%A0%C2%A094612+%C2%A0%C2%A0USA&amp;entry=gmail&amp;source=g">1625 Clay Street, 5th floor </a>&nbsp; &nbsp;<a href="https://maps.google.com/?q=1625+Clay+Street,+5th+floor+%C2%A0+%C2%A0Oakland+%C2%A0CA+%C2%A0%C2%A094612+%C2%A0%C2%A0USA&amp;entry=gmail&amp;source=g">Oakland </a>&nbsp;<a href="https://maps.google.com/?q=1625+Clay+Street,+5th+floor+%C2%A0+%C2%A0Oakland+%C2%A0CA+%C2%A0%C2%A094612+%C2%A0%C2%A0USA&amp;entry=gmail&amp;source=g">CA </a>&nbsp;&nbsp;<a href="https://maps.google.com/?q=1625+Clay+Street,+5th+floor+%C2%A0+%C2%A0Oakland+%C2%A0CA+%C2%A0%C2%A094612+%C2%A0%C2%A0USA&amp;entry=gmail&amp;source=g">94612 </a>&nbsp;&nbsp;<a href="https://maps.google.com/?q=1625+Clay+Street,+5th+floor+%C2%A0+%C2%A0Oakland+%C2%A0CA+%C2%A0%C2%A094612+%C2%A0%C2%A0USA&amp;entry=gmail&amp;source=g">USA</a> <br><br> You received this email because you are subscribed to Educational Series from <span class="il">REITSimple</span>. <br><br> Update your <a href="javascript:void(0)" target="_blank" >email preferences</a> to choose the types of emails you receive. <br><br> &nbsp;<a href="javascript:void(0)" style="font-weight:normal;text-decoration:underline;color:#0f173e" target="_blank">Unsubscribe from all future emails</a> &nbsp;</p>
                    </div>
                  </td>
                </tr>
            </tbody></table>
          </td>
        </tr>

        <tr>
          <td></td>
        </tr>
    </tbody></table>

  </td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>


<img src="https://ci4.googleusercontent.com/proxy/oJi5RdO6i5m0s2RtUBmEaxBHuEreRjX5oFLDY8CUg2IGfHM5HoXCEaL-lABL_u7SvsVKt29DUaHv5hTpVQqEcfGMmX9LoGhIvHz4MXXE1ALRPlhQjkLrLbeY0rjs2nCFsL1-ZEMvkO1RaQYTFBU8bLiEFBKPU0LlzN3Dfev6UaLFsyUAcvP3-X1_PXROlTG5n8WhjVFZSHZ9gxjBUykR_IH-8QuyHW5KaKhtGB3M4Klm79Kq_hiCwr7f6QCuXhtrkywhZOTxkgcQDmOX1HSxdMSCUzgwRhK42choTFIGtMDvshTFXEZNQlNeefjjeJ-Zv6xu0h4t2Z6YIxHucInYh-N6Khk1To7yiqxoe1acg7uVtoqa6fQiI36lZfAMmxOJINckCMSjDQI=s0-d-e1-ft#https://join.roofstock.com/e1t/o/*W3n1HgQ8lYcydVbrHdD3y_8V-0/*W60PbYv1LzwDKW44Fg_q69VMSB0/5/f18dQhb0J6B1clsYW8tVF6v5QLkKgVDQsqt1--3ShN1X0-LW8wbz1F2Thr10vFvnV2BTFT2gq3MLW3X-rj13zdZ6kW3ZBQRD3zbV8YN3Fbt5g2qW-YW17f7hv51C_4bW7_7Cl96R-D4CW5j2K4j76jgJwV28TJ17SWFlMW197RyD1rcDs-102" alt="" width="1" height="1" border="0" style="display:none!important;min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd"><div class="yj6qo"></div><div id="m_-6075058185946966855_hs" class="adL"></div></div>
