.market-properties-list {
  thead {
    position: static;
    margin-top: 0px;
    top: 70px;
    left: 30.5px;
    z-index: 3;
    width: 1290px;
  }

  .list-view {
    &__cell {
      min-width: 0px;
      max-width: none;
    }
  }
}