


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>roofstock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="roofstock-app/config-overwrites" content='
      {
        "appInsights": {
          "enabled": "false",
          "key": "060a338b-9b3f-4e49-97c0-13533a90bde7"
        },

        "fullStory": {
          "enabled": "true",
          "orgKey": "4G85N"
        },

        "g-map": {
          "key": "AIzaSyBlaqPfR0tEKisLcgKhUe0DbeyltmNLRKc"
        },

        "intercom-messenger": {
          "appId": "tydk0tip",
          "enabled": "true",
          "sharedKey": "roofstock-app.config.intercom.sharedKey"
        },

        "hubSpot": {
          "enabled": "true",
          "scriptUrl": "//js.hs-scripts.com/2608901.js"
        },

        "rsApp": {
          "version": "2df58d3c645a3df71c766ae1cffacabc27beb693",
          "adminSiteUrl": "https://admin.roofstock.com",
          "features": {
            "updatePrice": {
              "hoursRestriction": "168",
              "percentThreshold": "10"
            },
            "calendlyEnabled": "true",
            "cashOnCashEnabled": "false",
            "managePropertiesEnabled": "true",
            "nagsEnabled": "false",
            "propertyTaxSliderEnabled": "true",
            "recentlyViewedEnabled": "true",
            "recentlyViewedSubscriptionEnabled": "true",
            "roofstockRackEnabled": "true",
            "howItWorksUpdateEnabled": "true",
            "sellerOffersEnabled": "true",
            "signupRoadblockEnabled": "false",
            "signupRoadblockVideoUrl": "https://player.vimeo.com/video/157771094",
            "promoBannerEnabled": "true",
            "intercomEnabled": "false"
          }
        },

        "metricsAdapters": [
          {
            "name": "GoogleAnalytics",
            "environments": ["production"],
            "config": {
              "id": "UA-67980807-1"
            }
          },
          {
            "name": "Mixpanel",
            "environments": ["production"],
            "config": {
              "token": "f6f0edd33f1be5c20dbd3befc0b9ebae"
            }
          },
          {
            "name": "FacebookPixel",
            "environments": ["production"],
            "config": {
              "id": "192712737828566"
            }
          },
          {
            "name": "Hubspot",
            "environments": ["production"]
          },
          {
            "name": "Bing",
            "environments": ["production"],
            "config": {
              "token": "5710472"
            }
          },
          {
            "name": "Intercom",
            "environments": ["development", "production"],
            "config": {
              "appId": "tydk0tip"
            }
          },
          {
            "name": "Criteo",
            "environments": ["production"],
            "config": {
              "enabled": "true"
            }
          }    
        ],

        "optimizely": {
          "scriptUrl": "https://cdn.optimizely.com/js/5510760218.js"
        },

        "ndira": {
          "baseUrl": "https://service.newdirectionira.com"
        },

        "torii": {
          "providers": {
            "auth0": {
              "apiKey": "x-oU73JNnj4Oxztvmzbx7qy7APsbhjyD",
              "domain": "roofstock.auth0.com",
              "enabled": "true"
            }
          }
        },

        "truPreApproval": {
          "baseUrl": "https://beta.thetruloan.com",
          "pid": "5536F8EE275FF83A4F00"
        }
      }
        '
    >

    <base href="/" />
<meta name="dwellconnect-app/config/environment" content="" />

    <link rel="apple-touch-icon" sizes="57x57" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-57x57-bf99bba5f4eb8fac855e17ed4b427d45.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-60x60-300adb6691b92c011e2f747c24de9189.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-72x72-86d904478ba133c5784a5be9f1bb2c96.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-76x76-4d7e609d42299c301335a1cb163160f2.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-114x114-2c5c9b70d7c17ceff11202894d01c793.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-120x120-ac2ba1a6b6f64290fc59790ef0e12471.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-144x144-3bdfa471db96d9bcc1e1d8286a6bf24b.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-152x152-38ecc88e41e2c98c6566f5d18ef71df3.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/apple-icon-180x180-e662d3d519cf3f43da8f5a658628019f.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/android-icon-192x192-29fb5adfc5d9a6dee3f35636abb0ec93.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/favicon-32x32-52a583de583ebbde65d900d2879d663d.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/favicon-96x96-97ea3beb69ef606001d789bf7f1af241.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/favicon-16x16-819b81fdaba9d4987c4c1b1b113e11ed.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/favicons/ms-icon-144x144-3bdfa471db96d9bcc1e1d8286a6bf24b.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="cartodb.css" />
    <link rel="stylesheet" href="dwellconnect.css">
    <style>
      #SnapABug_Button {
        display: none;
      }
      @media (min-width: 768px ) {
        #SnapABug_Button {
          display: initial;
        }
      }
    </style>

    <!---->

    
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <script>window.prerenderReady = false;</script>
  </head>
  <body>
    <script>window.appDownloadStart = new Date();</script>

    

    <!-- // <script src="https://roofstock-cdn3.azureedge.net/rs-apps/assets/scripts/spin.min-5583b151df32e6f2bdf67fdf80a7c7a6.js"></script> -->
	  <div id="app-root">
      <!--<div id="loading_spinner" style="width:48px;height:48px;position:fixed;z-index:9999999999;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);">
      </div>-->
      <script>window.loading_spinner = new Spinner().spin(document.getElementById('loading_spinner'));</script>
      

<body>
    <script>window.appDownloadStart = new Date();</script>

    

    <script src="https://roofstock-cdn3.azureedge.net/rs-apps/assets/scripts/spin.min-5583b151df32e6f2bdf67fdf80a7c7a6.js"></script>
    <div id="app-root" class="ember-application">
      <div id="loading_spinner" style="width: 48px; height: 48px; position: fixed; z-index: 2147483647; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); display: none;">
      </div>
      <script>window.loading_spinner = new Spinner().spin(document.getElementById('loading_spinner'));</script>
      



    <div id="ember1083" class="ember-view"><audio id="audio-player"></audio>
<div id="ember1099" class="ember-view __modal-target__803a7">    <!---->

<div id="alt-modal" class="liquid-modal" style="visibility: hidden">
  <div class="liquid-child">
    <div class="lm-container">
      <div role="dialog" id="alternate-modal-target" class="lf-dialog modal-fullscreen bg-black">
      </div>
    </div>
  </div>      
</div>
</div>

  <div id="ember1125" class="ember-view"><header>
  <div class="navbar-fixed-top">
<!---->    <div class="navbar navbar-rs">
      
<div class="container">

  <div class="navbar-header">

    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a href="/" class="navbar-brand">
      <img src="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/roofstock-logo-reversed-907b545688e66dadc22e90bd67d0b66a.svg" alt="logo">
    </a>

      <ul class="nav navbar-nav visible-xs visible-sm pull-right">
        <li class="pull-right">
<a id="ember1136" href="/signup" class="btn-sm ember-view">          Sign Up
</a>        </li>
      </ul>

  </div> 

  <div class="navbar-collapse collapse" style="z-index:1">
<!---->
    <button type="button" class="navbar-toggle hidden-md hidden-lg" data-toggle="collapse" data-target=".navbar-collapse">
      <img src="https://roofstock-cdn3.azureedge.net/rs-apps/assets/images/close-c8ff2e7a2630003cd8c19149c1375d9b.png" alt="">
    </button>

    <ul class="nav navbar-nav rs-header">
      <li>
  <a id="ember1159" href="/investment-property-marketplace" class="top ember-view">Buy Properties</a>
</li>


    </ul>
    <ul class="nav navbar-nav navbar-right rs-header">
      <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Learn   
  <i class="fa fa-angle-down"></i>
</a>
  <ul class="dropdown-menu dropdown-menu-left">
    <li><a id="ember1267" href="/how-it-works" class="ember-view">How It Works</a></li>
    <li><a id="ember1284" href="/portfolios/overview" class="ember-view">Portfolio Investments</a></li>
    <li><a href="https://learn.roofstock.com/blog">Blog</a></li>
    <li><a id="ember1317" href="/investment-property/roofstock-coverage" class="ember-view">Markets</a></li>
    <li><a id="ember1341" href="/financing" class="ember-view">Financing</a></li>
  </ul>

</li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  About Us   
  <i class="fa fa-angle-down"></i>
</a>
  <ul class="dropdown-menu dropdown-menu-left">
    <li><a href="/about-us">What We Do</a></li>
    <li><a href="/about-us/#team">Our Team</a></li>
    <li><a id="ember1361" href="/about-us/press" class="ember-view">Press</a></li>
    <li><a href="https://learn.roofstock.com/reviews">Reviews</a></li>
    <li class="last"><a href="/about-us/partners">Partners</a></li>
  </ul>

</li>

<li>
  <a id="ember1378" href="/home/login" class="ember-view active">Log In</a>
</li>
<li>
  <a id="ember1379" href="/home/signup" class="btn-sm ember-view">Sign Up</a>
</li>

    </ul>
  </div> 
</div> 

<!---->
    </div>
  </div>
</header>

<!----></div>

  <app-section class="body-content adjust-body adjust-no-submenu
    
    login-container
  ">
    <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="ember1422" class="ember-view">
  <div id="ember1439" class="ember-view __authentication__login-component__d0dc3"><div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h2 class="text-center">Log In</h2>

      <div id="ember1446" class="ember-view __authentication__social-login-or-signup__d27c7">
  <button class="btn social facebook" data-ember-action="1447">
    Log in with Facebook
  </button>
  <button class="btn social google" data-ember-action="1448">
    Log in with Google
  </button>

</div>

      <div class="hr-text" data-content="or"></div>

    <div id="ember1457" class="ember-view __authentication__login-form__e70f4"><form data-ember-action="1480">
  <div class="rs-form-group has-addon">
    <span class="addon"><i class="fa fa-envelope"></i></span>
<div id="ember1489" class="ember-view input-error"><div class="rs-input-container">
  <div class=" ">
          <input id="identification" autofocus="" placeholder="Your Email" name="userName" type="text" class="rs-input fs-hide ember-view ember-text-field">

  </div>
<!----></div>
</div>  </div>
  <div class="rs-form-group has-addon">
    <span class="addon"><i class="fa fa-lock"></i></span>
<div id="ember1499" class="ember-view input-error"><div class="rs-input-container">
  <div class=" ">
          <input id="password" placeholder="Password" name="password" type="password" class="rs-input fs-hide ember-view ember-text-field">

  </div>
<!----></div>
</div>  </div>
<!----><div id="ember1508" class="terms pad-top-10 ember-view checkbox-container __rs-controls__checkbox__cac59"><input type="checkbox" id="ember1508_cb">
<label for="ember1508_cb"><span class="ie-radio-fix">    Keep me logged in
</span></label></div>  <div class="rs-form-group">
    <button type="submit" class="btn btn-secondary btn-block">
        Log In
    </button>
    <div class="pad-top-10"><a id="ember1509" href="/password/forgot" class="ember-view">Forgot password?</a></div>
  </div>
</form>
</div>

      <div id="ember1546" class="ember-view __authentication__login-or-signup__toggle__534b3">
  <div class="pad-top-20">
      Don't have an account? <strong><a id="ember1547" href="/signup" class="ember-view">Sign Up</a></strong>
  </div>



</div>

  </div>
</div>
</div>

</div>
    </div>
  </div>
</div>
  </app-section>

<!---->

<!----><!---->
<!---->
<!----></div></div>

    <script src="https://roofstock-cdn3.azureedge.net/rs-apps/assets/vendor-fced242e89551d3d468858a68b908b0d.js"></script>
    <script src="https://roofstock-cdn3.azureedge.net/rs-apps/assets/dwellconnect-app-72a60d21d96ea7c8ddf1c643ef504cae.js"></script>

    <div id="ember-basic-dropdown-wormhole"></div>

  

<div id="designstudio" style="font-size:16px;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);display:none;z-index:100003;position:fixed;height:32.75em;width:25.25em;right:0;float:right;bottom:0;"><div id="draggable" style="width:calc(100% - 5.9375em);left:0;top:0;position:absolute;height:3em;z-index:13000;margin-top:12px;margin-left:12px;cursor:move;"></div><iframe id="designstudio-iframe" style="-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);display:block;position:absolute;border:none;width:100%;height:100%;" name="designstudio-frame"></iframe></div><div id="designstudio-minimize" style="position:fixed;z-index:999998;display:none;font-size:14px;right:0;float:right;bottom:0;"><iframe id="iframe-minimize" style="border:none;display:block;font-size:14px;" name="designstudio-minimize-frame" scrolling="no"><div id="minimize-content"><div id="minimize-notify" class=" minimize-notify-right-avatar minimize-notify-bottom"><span id="minimize-notify-counter"></span></div>
<div id="minimize-avatar-container" class=" right bottom">
<img id="minimize-avatar">
</div><div id="minimize-svg" class=" right bottom"><div id="svg-container"><svg viewBox="0 0 600 600"><defs><filter id="dropshadow" height="140%"><fegaussianblur in="SourceAlpha" stddeviation="15"></fegaussianblur><feoffset result="offsetblur" dx="10" dy="10"></feoffset><fecomponenttransfer><fefunca type="linear" slope="0.8"></fefunca></fecomponenttransfer><femerge><femergenode></femergenode><femergenode in="SourceGraphic"></femergenode></femerge></filter></defs><g id="comments-o" class="designstudio-container"><circle class="designstudio-circle" cx="50%" cy="50%" r="260" fill="#f17422" linejoin="round" stroke="#ffffff" stroke-width="0" fill-opacity="1" position="absolute"></circle><path class="designstudio-icon" fill="#ffffff" d="M704 1152q-153 0 -286 -52t-211.5 -141t-78.5 -191q0 -82 53 -158t149 -132l97 -56l-35 -84q34 20 62 39l44 31l53 -10q78 -14 153 -14q153 0 286 52t211.5 141t78.5 191t-78.5 191t-211.5 141t-286 52zM704 1280q191 0 353.5 -68.5t256.5 -186.5t94 -257t-94 -257 t-256.5 -186.5t-353.5 -68.5q-86 0 -176 16q-124 -88 -278 -128q-36 -9 -86 -16h-3q-11 0 -20.5 8t-11.5 21q-1 3 -1 6.5t0.5 6.5t2 6l2.5 5t3.5 5.5t4 5t4.5 5t4 4.5q5 6 23 25t26 29.5t22.5 29t25 38.5t20.5 44q-124 72 -195 177t-71 224q0 139 94 257t256.5 186.5 t353.5 68.5zM1526 111q10 -24 20.5 -44t25 -38.5t22.5 -29t26 -29.5t23 -25q1 -1 4 -4.5t4.5 -5t4 -5t3.5 -5.5l2.5 -5t2 -6t0.5 -6.5t-1 -6.5q-3 -14 -13 -22t-22 -7q-50 7 -86 16q-154 40 -278 128q-90 -16 -176 -16q-271 0 -472 132q58 -4 88 -4q161 0 309 45t264 129 q125 92 192 212t67 254q0 77 -23 152q129 -71 204 -178t75 -230q0 -120 -71 -224.5t-195 -176.5z" transform="scale(.195, -.195) translate(600, -2000)"></path></g></svg></div></div><div id="minimize-messages" class=" message-left bottom"></div></div></iframe></div><style>.designstudio-animated {-webkit-animation-duration: .5s;animation-duration: .5s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}@keyframes designstudio-fadeOut {from {opacity: 1;}to {opacity: 0;}}.designstudio-fadeOut {animation-name: designstudio-fadeOut;}@-webkit-keyframes designstudio-fadeInUp {from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}@keyframes designstudio-fadeInUp {from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}.designstudio-fadeInUp {-webkit-animation-name: designstudio-fadeInUp;animation-name: designstudio-fadeInUp;}@-webkit-keyframes designstudio-fadeInDown {from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}@keyframes designstudio-fadeInDown {from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}.designstudio-fadeInDown {-webkit-animation-name: designstudio-fadeInDown;animation-name: designstudio-fadeInDown;}@-webkit-keyframes designstudio-fadeInLeft {from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}@keyframes designstudio-fadeInLeft {from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}.designstudio-fadeInLeft {-webkit-animation-name: designstudio-fadeInLeft;animation-name: designstudio-fadeInLeft;}@-webkit-keyframes designstudio-fadeInRight {from {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}@keyframes designstudio-fadeInRight {from {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}}.designstudio-fadeInRight {-webkit-animation-name: designstudio-fadeInRight;animation-name: designstudio-fadeInRight;}@-webkit-keyframes designstudio-fadeOutUp {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}}@keyframes designstudio-fadeOutUp {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}}.designstudio-fadeOutUp {-webkit-animation-name: designstudio-fadeOutUp;animation-name: designstudio-fadeOutUp;}@-webkit-keyframes designstudio-fadeOutDown {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}}@keyframes designstudio-fadeOutDown {from {opacity: 1; }to {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}}.designstudio-fadeOutDown {-webkit-animation-name: designstudio-fadeOutDown;animation-name: designstudio-fadeOutDown;}@-webkit-keyframes designstudio-fadeOutLeft {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}}@keyframes designstudio-fadeOutLeft {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}}.designstudio-fadeOutLeft {-webkit-animation-name: designstudio-fadeOutLeft;animation-name: designstudio-fadeOutLeft;}@-webkit-keyframes designstudio-fadeOutRight {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}}@keyframes designstudio-fadeOutRight {from {opacity: 1;}to {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}}.designstudio-fadeOutRight {-webkit-animation-name: designstudio-fadeOutRight;animation-name: designstudio-fadeOutRight;}</style>
<div id="designstudio-button" style="position: fixed; z-index: 999998; font-size: 14px; bottom: 0px; right: 0%;">
<iframe id="iframe-designstudio-button" style="border:none;display:block;margin:0.7142857142857143em;width:4.285714285714286em;height:4.285714285714286em;" name="designstudio-button-frame" scrolling="no" height="60" width="60"></iframe>
</div>

<div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.05189789525588928">
  <img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.03171865579898414" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=5710472&amp;Ver=2&amp;mid=7c985410-f033-cf63-3b52-4e27c26c2d5d&amp;evt=pageLoad&amp;sid=b12458b0-1&amp;lt=13560&amp;pi=-1978200868&amp;lg=en-US&amp;sw=1366&amp;sh=768&amp;sc=24&amp;tl=Login&amp;r=https%3A%2F%2Fwww.roofstock.com%2F&amp;p=https%3A%2F%2Fwww.roofstock.com%2Flogin&amp;msclkid=N&amp;rn=85915">
  <img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.5359101892411979" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=5710472&amp;Ver=2&amp;mid=7c985410-f033-cf63-3b52-4e27c26c2d5d&amp;ec=PageView&amp;ea=/login&amp;el=Login&amp;evt=custom&amp;sid=b12458b0-0&amp;msclkid=N&amp;rn=608489">
</div>

<iframe id="intercom-frame" style="display: none;"></iframe>
<div id="intercom-container" style="position: fixed; width: 0px; height: 0px; bottom: 0px; right: 0px; z-index: 2147483647;"><!-- react-empty: 1 --></div></body>
</html>
